body {
    background-color: #666;
}

.btn-custom {
    background-color: #111;
}

.check-color {
    color: #fff;
}

.card-custom {
    width: 18rem;
    border-radius: 0%;
}

.card-text-custom {
    font-family: 'Reenie Beanie', cursive;
}

.card-normal {
    background-color: #FFFFCC;
}

.card-important {
    background-color: #EC7063;
}

.card-close {
    float: right;
    margin-top: -50px;
    margin-right: -25px;
}